header{
    background-color: rgb(240, 176, 176);
}
main{
    background-color: rgb(240, 215, 215);
}
aside{

    background-color: rgb(197, 161, 132);
}
footer{
    background-color: rgb(169, 236, 236);
}

